<!DOCTYPE html>
<html ng-app="collections">
	<head>
		<title>Collectibles</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
		
		<link rel="apple-touch-icon" sizes="256x256" href="/app/imgs/icon_256x256.png" />
		<link rel="apple-touch-icon" sizes="128x128" href="/app/imgs/icon_128x128.png" />
		<link rel="apple-touch-icon" sizes="48x48" href="/app/imgs/icon_48x48.png" />
		
		<link rel="icon" type="image/png" href="/app/imgs/icon_256x256.png" sizes="256x256" />
		<link rel="icon" type="image/png" href="/app/imgs/icon_128x128.png" sizes="128x128" />
		<link rel="icon" type="image/png" href="/app/imgs/icon_48x48.png" sizes="48x48" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/app/imgs/icon_256x256.png" />
		
		
		<link rel="stylesheet" type="text/css" href="/app/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/app/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" />
		<!--  <link rel="stylesheet" type="text/css" href="/app/css/angular.css" />-->
		<link rel="stylesheet" type="text/css" href="/app/vendor/ng-progress/ngProgress.css">
		<link rel="stylesheet" type="text/css" href="/app/vendor/brand-buttons/dist/brand-buttons.min.css" />
		<link rel="stylesheet" type="text/css" href="/app/vendor/font-awesome-4.4.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="/app/vendor/ng-lazy-image-master/release/lazy-image-style.css" />
		<link rel="stylesheet" type="text/css" href="/app/vendor/book-animation/css/book-essential.css" />
		<link rel="stylesheet" type="text/css" href="/app/vendor/Fluidbox-master/dist/css/fluidbox.min.css" />
		
		<link rel="stylesheet" type="text/css" href="/app/css/bootstrap-tweaks.css" />
		<link rel="stylesheet" type="text/css" href="/app/css/main.css" />
		
		
		
		
		
		<script type="text/javascript" src="/app/angular/angular.min.js"></script>		
		<script type="text/javascript" src="/app/angular/angular-route.min.js"></script>
		<script type="text/javascript" src="/app/angular/angular-resource.min.js"></script>		
		<script type="text/javascript" src="/app/angular/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/app/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="/app/angular/angular-cookies.min.js"></script>
		
		<script type="text/javascript" src="/app/angular/modules/app.js"></script>		
		<script type="text/javascript" src="/app/angular/modules/routes.js"></script>
		
		<script type="text/javascript" src="/app/angular/modules/injectors/http-inject-auth.js"></script>
		<script type="text/javascript" src="/app/angular/modules/injectors/http-inject-progress-bar.js"></script>
		<script type="text/javascript" src="/app/angular/modules/injectors/http-inject-parser-message.js"></script>
		
		<script type="text/javascript" src="/app/angular/modules/controllers/hierarchy-create-controller.js"></script>
		<script type="text/javascript" src="/app/angular/modules/controllers/login-controller.js"></script>							
		<script type="text/javascript" src="/app/angular/modules/controllers/navigation-controller.js"></script>
		<script type="text/javascript" src="/app/angular/modules/controllers/product-change-controller.js"></script>
		<script type="text/javascript" src="/app/angular/modules/controllers/product-details-controller.js"></script>
		<script type="text/javascript" src="/app/angular/modules/controllers/product-list-controller.js"></script>
		
		
		<script type="text/javascript" src="/app/angular/modules/services/Auth.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/Base64.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/Product.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/Hierarchy.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/Image.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/User.js"></script>
		<script type="text/javascript" src="/app/angular/modules/services/Message.js"></script>
				
				
		<script type="text/javascript" src="/app/angular/modules/directives/generic-ajax-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/generic-image-fluidbox.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/generic-options-class-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/generic-selectpicker-directive.js"></script>			
		<script type="text/javascript" src="/app/angular/modules/directives/hierarchy-create-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/hierarchy-tree-directive.js"></script>		
		<script type="text/javascript" src="/app/angular/modules/directives/product-change-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/product-connector-parse-directive.js"></script>		
		<script type="text/javascript" src="/app/angular/modules/directives/product-list-entry-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/product-page-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/product-search-directive.js"></script>
		<script type="text/javascript" src="/app/angular/modules/directives/product-upload-directive.js"></script>		
		
		
		
				
		<script type="text/javascript" src="/app/vendor/jquery/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/app/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/app/vendor/bootbox/bootbox.min.js"></script>
		<script type="text/javascript" src="/app/vendor/bootstrap-growl/jquery.bootstrap-growl.min.js"></script>
		<script type="text/javascript" src="/app/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>		
		<script type="text/javascript" src="/app/vendor/modernizr/modernizr-custom.js"></script>
		<script type="text/javascript" src="/app/vendor/Fluidbox-master/dist/js/jquery.ba-throttle-debounce.min.js"></script>
		<script type="text/javascript" src="/app/vendor/Fluidbox-master/dist/js/jquery.fluidbox.min.js"></script>
		
		<script type="text/javascript" src="/app/vendor/ng-lazy-image-master/release/lazy-image.min.js"></script>
		<script type="text/javascript" src="/app/vendor/ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
		<script type="text/javascript" src="/app/vendor/ng-file-upload-master/dist/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="/app/vendor/ng-progress/build/ngprogress.min.js"></script>
		<script type="text/javascript" src="/app/vendor/ng-angular-elastic-master/elastic.js"></script>
		
	</head>	
	<body>
	
		<div clas="content ng-cloak"  ng-controller="NavigationController as navigation" ng-cloak>
	
			<div>
				<nav class="navbar-inverse navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed"
								data-toggle="collapse" data-target="#navbar" aria-expanded="false"
								aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="#/products/">Collections</a>
						</div>
						<div id="navbar" class="collapse navbar-collapse" uib-collapse="isCollapsed">
							<ul class="nav navbar-nav">							
								<li ng-show="!isAuthenticated()" ng-class="{ active: isActive('/login/')}"><a href="" ng-click="openLogin() || (isCollapsed = true)">Login</a></li>
								<li ng-class="{ active: isActive('/products/')}"><a href="#/products/" ng-click="isCollapsed = true">Products</a></li>																											
								<li ng-show="isAdmin()" ng-class="{ active: isActive('/products/create/')}"><a href="#/products/create/" ng-click="isCollapsed = true">Add Products</a></li>
								<li ng-show="isAdmin()" ng-class="{ active: isActive('/hierarchy/create/')}"><a href="#/hierarchy/create/"ng-click="isCollapsed = true">Manage Hierarchies</a></li>
								<li ng-show="isAuthenticated()" ng-class="{ active: isActive('/logout/')}"><a href="" ng-click="logout() || (isCollapsed = true)" ng-click="isCollapsed = true">Logout</a></li>
							</ul>
						</div>
					</div>
				</nav>
			</div>
			
			<div class="container" style="position: relative">
			
				<div ng-view ></div>
				
				
			</div>
			
			
			
		</div><!--  end content -->
		
	
			
	</body>
</html>