<form name="changeProductForm" 
	class="changeProductForm"	
	ng-submit="changeProductForm.$valid && productCtrl.changeProduct()" 
	novalidate>			
	
	<div class="form-group">	
		<label>Hierarchy</label>		
		<select class="form-control"
			ng-model="productCtrl.product.hierarchyPlacement"
			ng-options="item as item.name for item in productCtrl.hierarchies"
			required 
		> 						
		</select>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control"
			ng-model="productCtrl.product.name" 
			required />
	</div>
	
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control"
			ng-model="productCtrl.product.description" 
			></textarea>
	</div>		
	<button type="submit" value="Submit">Save</button>		
	<button ng-if="productCtrl.canCreateNew()" ng-click="productCtrl.newProduct()">New Product</button>
</form>