<div class="row productListEntry">
	<div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
		<a class="btn btn-primary" ng-href="#/product/{{product.id}}"><span>{{product.name}}</span></a>
	</div>		
	
	<div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
		<div class="imageContainer">
			<div class="squareImage">		
				<a ng-if="product.selectedImage.id" ng-href="#/product/{{product.id}}">
					<div	afkl-lazy-image="/image/thumb/{{product.selectedImage.id}}"
							class="afkl-img-ratio-1-1"
							afkl-lazy-image-options="{'className': 'img-responsive img-thumbnail'}"></div>
				<!--  	<img class="img-responsive img-thumbnail" ng-src="/image/thumb/{{product.selectedImage.id}}">-->
				</a>		
			</div>
		</div>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-3 col-xs-3">
		<div ng-if="editMode && isAdmin()">
			<button type="button" 
					class="btn btn-default" 
					ng-model="product.owned" 
					uib-btn-checkbox 
					btn-checkbox-true="true" 
					btn-checkbox-false="false"
					ng-change="update(product)">
				Owned
			</button>
			<!-- 
			<input type="checkbox" 
				ng-model="product.owned" 
				ng-change="productManagementCtrl.update(product)" />
 			-->
		</div>
		<div ng-if="!editMode || !isAdmin()">
			<span ng-if="product.owned">Owned</span>			
		</div>
	</div>	
	<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">		
		<form ng-if="editMode && isAdmin()">
			<div class="form-group">
				<select class="form-control"	
					selectpicker									
					ng-model="product.hierarchyPlacement"										
					data-collection-name="hierarchies"								
					ng-options="item as item.name for item in (hierarchies|filter:{isRoot:'!'}) track by item.id"
					ng-change="productManagementCtrl.update(product)" 					
						options-class="{ 
						root: isRoot == true,
						depth0: depth == 0,
						depth1: depth == 1,
						depth2: depth == 2,
						depth3: depth == 3,
						depth4: depth == 4,
						depth5: depth == 5,
						depth6: depth == 6,
						depth7: depth == 7,
						element: isElement == true				
					}">
				</select>
			</div>
		</form>	
		<div ng-if="!editMode || !isAdmin()">{{product.hierarchyPlacement.name}}</div>	 
	</div>
	<div class="col-lg-1 col-md-2 hidden-sm hidden-xs">
		<span>{{product.universalReference}}</span>
	</div>
	<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">
		<a href ng-if="editMode && isAdmin()" class="btn btn-default" ng-click="remove(product)">Delete</a>
	</div>
</div>