<form class="form-inline">				
	<div class="form-group">
		<input type="text" class="form-control"
			ng-model="searchTerm"
			ng-model-options="{ debounce: 500 }"
			ng-change="productListCtrl.updateSearch()" />					 
		</div>
	<div class="form-group" ><!-- selectpicker -->
		<select class="form-control"	
			selectpicker	
			ng-model="hierarchy.id"
			data-collection-attribute="id"
			data-collection-name="hierarchies"			 
			ng-options="item.id as item.name for item in hierarchies" 
			ng-change="productListCtrl.updateSearch()"			
				options-class="{ 
				root: isRoot == true,
				depth0: depth == 0,
				depth1: depth == 1,
				depth2: depth == 2,
				depth3: depth == 3,
				depth4: depth == 4,
				depth5: depth == 5,
				depth6: depth == 6,
				depth7: depth == 7,
				element: isElement == true				
			}">
		</select>
	</div>
	
		
	<ajax ng-show="ajax" ></ajax>
	
	
	<div>
		<label>Images:</label>
		<div class="radio">
			<label>Any</label>
			<input type="radio" class="form-control"
				ng-model="withImages"			
				ng-change="productListCtrl.updateSearch()" value=""/>
		</div>
		<div class="radio">		
			<label>With</label>
			<input type="radio" class="form-control"
				ng-model="withImages"			
				ng-change="productListCtrl.updateSearch()" value="true"/>
		</div>
		<div class="radio">
			<label>Without</label>
			<input type="radio" class="form-control"
				ng-model="withImages"			
				ng-change="productListCtrl.updateSearch()" value="false" />
		</div>
	</div>
	<div>
		<label>Owned:</label>
		<div class="radio">
			<label>Any</label>
			<input type="radio" class="form-control"
				ng-model="owned"			
				ng-change="productListCtrl.updateSearch()" value=""/>
		</div>
		<div class="radio">		
			<label>Yes</label>
			<input type="radio" class="form-control"
				ng-model="owned"			
				ng-change="productListCtrl.updateSearch()" value="true"/>
		</div>
		<div class="radio">
			<label>No</label>
			<input type="radio" class="form-control"
				ng-model="owned"			
				ng-change="productListCtrl.updateSearch()" value="false" />
		</div>
	</div>
			
</form>
<div class="productGrid container-fluid" style="" ng-if="products && products.length && products.length>0" >

	
	<div class="row productListEntry rowTitles">
		<div class="col-md-4">Product Name</div>		
		<div class="col-md-1">Ownership</div>
		<div class="col-md-2">Image</div>				
		<div class="col-md-3">Classification</div>
		<div class="col-md-1">Reference</div>
		<div class="col-md-1"></div>
	</div>

	<product-list-entry ng-repeat="product in products | orderBy:'releaseDate'"></product-list-entry>
</div>

<div ng-if="products && products.length && products.length <=0">
	No results found
</div>

