<div class="product">	
	

	<div class="editButton" ng-if="!productCtrl.isEditForbidden() && isAdmin()">
		<button class="btn" ng-click="productCtrl.setEditable(true)" ng-show="!productCtrl.isEditable()">EDIT</button>
		<button class="btn" ng-click="productCtrl.setEditable(false)" ng-show="productCtrl.isEditable()">STOP EDITING</button>
	</div>

	<ol class="breadcrumb product-crumb hidden-sm hidden-xs" ng-if="product.hierarchyPath">
	  <li ng-repeat="node in product.hierarchyPath"><a ng-href="#{{'/products/?hierarchy='+node.id}}">{{node.name}}</a> </li>
	  <li class="active">{{product.name}}</li>	  	  
	</ol>

	<h2>{{product.name}}</h2>

	<div class="row">
	
			
		<div class="col-lg-4 col-sm-4 col-sm-push-8 col-xs-12">
			<div class="images">	
				<div ng-if="product.selectedImage"> 		
					<a href ng-if="productCtrl.isEditable() && isAdmin()" ng-click="productCtrl.removeImage(product.selectedImage)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					<img class="img-responsive mainImage" ng-id="image.id" ng-src="/image/content/{{product.selectedImage.id}}">
				</div>
			
				<div class="carousel hidden-xs" ng-if="product.images && product.images.length>1">
					<div class="row">
						<div class="col-xs-4" ng-repeat="image in product.images">
							<a href ng-if="productCtrl.isEditable() && isAdmin()" ng-click="productCtrl.removeImage(image)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>			
							<img class="img-responsive img-thumbnail" 
								ng-click="productCtrl.setSelectedImage(image)" 
								ng-id="image.id" 
								ng-src="/image/content/{{image.id}}">		
						</div>
					</div>
				</div>	
			</div>
		</div>
	
		<div class="col-lg-8 col-sm-8 col-sm-pull-4 col-xs-12">
			<div class="row">
				<div class="col-xs-12">
					<div class="productDescription">
						<div ng-bind-html="product.description"></div>
					</div>
									
					<div class="priceBlock">
						<div ng-show="product.dollarPrice && !isEmptyObject(product.dollarPrice)">
							<p><b>Price: </b></p>
							<div class="blockContent">							
								<p ng-if="product.dollarPrice" ng-repeat="(key, value) in product.dollarPrice">
									<span ng-if="value===0.0 || value">{{(value/100) | currency}}</span>
									<span ng-if="key">({{key}})</span>
								</p>
								<p ng-if="product.lastPriceUpdate">Last updated: {{product.lastPriceUpdate | date:'yyyy-MM-dd HH:mm:ss'}}</p>
							</div>
						</div>
						<span class="btn btn-default" ng-if="editable && product && product.id && isAdmin()" ng-click="productCtrl.updatePrices(product.id)">Update prices</span>
						
					</div>
					
					
					<div class="ratingsBlock" ng-show="product.ratings && !isEmptyObject(product.ratings)">
						<p><b>Ratings: </b></p>
						<div class="blockContent">							
							<p ng-if="product.ratings" ng-repeat="(key, value) in product.ratings">
								<span ng-if="key">{{key}}: </span>
								<span ng-if="value===0.0 || value">{{value | number:2}}</span>								
							</p>							
						</div>						
					</div>	
					
					<p ng-if="product.publisher"><b>Publisher:</b> <span>{{product.publisher}}</span></p>							
						
					<div class="authorsBlock" ng-if="product.authors && product.authors.length>0">						
						<!-- <p><b>Authors:</b> <span >{{$first ? '' : $last ? ' and ' : ', '}}{{author}}</span></p> -->
						<div ng-if="product.authors && product.authors.length && product.authors.length>0">
							<p><b>Authors:</b></p>
							<div class="row">
								<div class="col-md-2 col-sm-4 col-xs-4 authorEntry" ng-repeat="author in product.authors">															
										<a href="{{author.goodreadsAuthorLink}}">																		
											<span class="authorContainer">
												<img class="img-responsive img-thumbnail " ng-if="author.id && author.hasImage" ng-src="/image/author/{{author.id}}" />											
												<img class="img-responsive img-thumbnail" ng-if="!author.id || !author.hasImage" src="https://s.gr-assets.com/assets/nophoto/user/u_200x266-e183445fd1a1b5cc7075bb1cf7043306.png" />
											</span>
											<span>{{author.name}}</span>											
										</a>
									
								</div>
							</div>
						</div>
					</div> 						
				</div>
			</div>
			<div class="row providerLinksBlock">
				<div class="col-md-4 col-sm-6 col-xs-12" ng-if="product.externalLinks.Amazon">
					<a class="btn btn-block btn-lg btn-amazon" ng-href="{{product.externalLinks.Amazon}}">
						<i class="fa fa-amazon"></i> Amazon
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" ng-if="product.externalLinks.DrivethruRPG">
					<a class="btn btn-block btn-lg btn-yelp" ng-href="{{product.externalLinks.DrivethruRPG}}">
						DriveThruRPG
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12" ng-if="product.externalLinks.BoardGameGeek">
					<a class="btn btn-block btn-lg btn-intensedebate" ng-href="{{product.externalLinks.BoardGameGeek}}">
						Board Game Geek
					</a>
				</div>
				
				<div class="col-md-4 col-sm-6 col-xs-12" ng-if="product.externalLinks.Goodreads">
					<a class="btn btn-block btn-lg btn-android" ng-href="{{product.externalLinks.Goodreads}}">
						<span style="font-family:helvetica;">g</span> Goodreads
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12" ng-if="product.externalLinks.GoodreadsSeries">
					<a class="btn btn-block btn-lg btn-android" ng-href="{{product.externalLinks.GoodreadsSeries}}">
						<span style="font-family:helvetica;">g</span> Related items
					</a>
				</div>
				
			</div>
		</div>

		
	
	</div>
	
	
	
	
	
				
</div>