<form class="form-inline">				
	<div class="form-group">
		<input type="text" class="form-control"
			ng-model="searchTerm"
			ng-model-options="{ debounce: 500 }"
			ng-change="productListCtrl.search()" />					 
		</div>
	<div class="form-group" ><!-- selectpicker -->
		<select class="form-control"	
			selectpicker	
			ng-model="hierarchy.id"
			data-collection-attribute="id"
			data-collection-name="hierarchies"			 
			ng-options="item.id as item.name for item in hierarchies" 
			ng-change="productListCtrl.search()"			
				options-class="{ 
				root: isRoot == true,
				depth0: depth == 0,
				depth1: depth == 1,
				depth2: depth == 2,
				depth3: depth == 3,
				depth4: depth == 4,
				depth5: depth == 5,
				depth6: depth == 6,
				depth7: depth == 7,
				element: isElement == true				
			}">
		</select>
	</div>
	<ajax ng-show="ajax" ></ajax>
			
</form>

<div  class="productGrid container-fluid">
	<product-list-entry ng-repeat="product in products"></product-list-entry>
</div>

<div ng-show="products.length <=0">
	No results found
</div>