<form name="changeProductForm" 
	class="changeProductForm"	
	ng-submit="changeProductForm.$valid && productChangeCtrl.changeProduct()" 
	novalidate>			
	
	<div class="form-group">	
		<label>Hierarchy</label>	<!-- selectpicker  -->	
		<select class="form-control"		
			selectpicker
			ng-model="product.hierarchyPlacement"						
			data-collection-name="hierarchies"			 
			ng-options="item as item.name for item in hierarchies"					
				
			required 
		> 						
		</select>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control"
			ng-model="product.name" 
			required />
	</div>
	
	<div class="form-group">
		<label>Description</label>
		<textarea class="form-control"
			ng-model="product.description" 
			></textarea>
	</div>		
	<button type="submit" value="Submit">Save</button>		
	<button ng-click="productChangeCtrl.newProduct()" ng-if="productChangeCtrl.canCreateNew()">New Product</button>
</form>