<div class="row productListEntry">
	<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
		<a class="btn btn-default btn-block product-name-btn" ng-href="#/product/{{product.id}}"><span>{{product.name}}</span></a>
	</div>			
	
	<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
		<div class="imageContainer">
			<div class="">		
				<a ng-if="product.selectedImage.id" ng-href="#/product/{{product.id}}">
					<div	afkl-lazy-image="/image/thumb/{{product.selectedImage.id}}"
							class="afkl-img-ratio-1-1"
							afkl-lazy-image-options="{'className': 'img-responsive'}"></div>
				<!--  	<img class="img-responsive img-thumbnail" ng-src="/image/thumb/{{product.selectedImage.id}}">-->
				</a>		
			</div>
		</div>
	</div>
	<div class="col-lg-2 col-md-6 col-sm-6 col-xs-6">
		<h3><span class="label label-success" ng-if="product.minPrice">{{(product.minPrice/100) | currency}}</span></h3>
		
		<h3 ng-if="product && product.id && isLoggedIn()">
			<span class="btn btn-default"  ng-click="productManagementCtrl.updatePrices(product.id)">Update price</span> 
			<ajax ng-show="updatingPrice"></ajax>
		</h3>
			
			
	</div>	
	<div class="col-lg-2 col-md-5 col-sm-6 col-xs-6">
		<h3 ng-if="editMode && isLoggedIn()">
			<span  
					class="btn btn-default" 
					ng-model="product.owned" 
					uib-btn-checkbox 
					btn-checkbox-true="true" 
					btn-checkbox-false="false"
					ng-change="modifyLite(product)">
				Owned
			</span>
		</h3>
		<h3 ng-if="editMode && isLoggedIn()">
			<span  
					class="btn btn-default" 
					ng-model="product.ownedAnotherLanguage" 
					uib-btn-checkbox 
					btn-checkbox-true="true" 
					btn-checkbox-false="false"
					ng-change="modifyLite(product)">
				Owned <i class="fa fa-globe"></i>
			</span>
		</h3>
		<h3 ng-if="editMode && isLoggedIn()">
			<span  
					class="btn btn-default" 
					ng-model="product.wished" 
					uib-btn-checkbox 
					btn-checkbox-true="true" 
					btn-checkbox-false="false"
					ng-change="modifyLite(product)">
				In wishlist
			</span>
		</h3>	

		<div ng-if="!editMode || !isLoggedIn()">
			<h3><span class="label label-default" ng-if="product.owned">Owned</span></h3>			
		</div>
		<div ng-if="!editMode || !isLoggedIn()">
			<h3><span class="label label-default" ng-if="product.ownedAnotherLanguage">Owned <i class="fa fa-globe"></i></span></h3>			
		</div>
		<div ng-if="!editMode || !isLoggedIn()">
			<h3><span class="label label-default" ng-if="product.wished">In wishlist</span></h3>			
		</div>
	</div>	
	<div class="col-lg-2 col-md-5 hidden-sm hidden-xs">		
		<h3>
			<form ng-if="editMode && isAdmin()">
				<div class="form-group">
					<select class="form-control"	
						selectpicker									
						ng-model="product.hierarchyPlacement"										
						data-collection-name="allHierarchies"								
						ng-options="item as item.name for item in (allHierarchies|filter:{isRoot:'!'}) track by item.id"
						ng-change="modifyLite(product)" 					
						options-class="{ 
							root: isRoot == true,
							depth0: depth == 0,
							depth1: depth == 1,
							depth2: depth == 2,
							depth3: depth == 3,
							depth4: depth == 4,
							depth5: depth == 5,
							depth6: depth == 6,
							depth7: depth == 7			
						}">
					</select>
				</div>
			</form>
		</h3>	
		<div ng-if="!editMode || !isAdmin()">
			<h3>
				<a class="btn label label-default" ng-click="selectHierarchy(product.hierarchyPlacement)">{{product.hierarchyPlacement.name}}</a>
			</h3>
		</div>	 
	</div>

	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
		<h3><a href ng-if="editMode && isAdmin()" class="btn btn-default btn-block" ng-click="remove(product)">Delete</a></h3>
	</div>
</div>