<div ng-if="isAuthenticated()">
		<button class="btn" ng-click="productListCtrl.toggleEditMode()" ng-show="!editMode">EDIT</button>
		<button class="btn" ng-click="productListCtrl.toggleEditMode()" ng-show="editMode">STOP EDITING</button>
</div>

<h1>Product Search</h1>

<form class="form-inline">				
	<div class="form-group">
		<input type="text" class="form-control"
			ng-model="searchTerm"
			ng-model-options="{ debounce: 500 }"
			ng-change="productListCtrl.updateSearch(true)" />					 
		</div>
	<div class="form-group" ><!-- selectpicker -->
		<select class="form-control"	
			selectpicker	
			ng-model="hierarchy.id"
			data-collection-attribute="id"
			data-collection-name="hierarchies"			 
			ng-options="item.id as item.name for item in hierarchies" 
			ng-change="productListCtrl.updateSearch(true)"			
				options-class="{ 
				root: isRoot == true,
				depth0: depth == 0,
				depth1: depth == 1,
				depth2: depth == 2,
				depth3: depth == 3,
				depth4: depth == 4,
				depth5: depth == 5,
				depth6: depth == 6,
				depth7: depth == 7				
			}">
		</select>
	</div>
	
		
	<ajax ng-show="processingSearch" ></ajax>
	
	<span class="btn btn-default" ng-if="isAdmin() && products && products.length && products.length>0" ng-click="productListCtrl.updatePriceSearch()" >Update</span>
	
	<div class="row">
		
		<h4 class="col-xs-1"><span class="btn btn-primary disabled">Filter</span></h4>
		
		<div class="form-group optionsSearch col-lg-3 col-md-4 col-sm-12 col-xs-12">
			
				
			<div class="btn-group">
				<label class="btn btn-default disabled">Images</label>		
				<label class="btn btn-default" uib-btn-radio="''" ng-model="withImages" ng-change="productListCtrl.updateSearch(true)">
					<!-- <input type="radio"
						ng-model="withImages"			
						ng-change="pro1ductListCtrl.updateSearch(true)" value=""/>  -->Any
				</label>
				
				<label class="btn btn-default" uib-btn-radio="'true'" ng-model="withImages" ng-change="productListCtrl.updateSearch(true)">
					<!-- <input type="radio" 
						ng-model="withImages"			
						ng-change="productListCtrl.updateSearch(true)" value="true"/> -->With			
				</label>		
				
				<label class="btn btn-default" uib-btn-radio="'false'" ng-model="withImages" ng-change="productListCtrl.updateSearch(true)">
					<!-- <input type="radio" 
						ng-model="withImages"			
						ng-change="productListCtrl.updateSearch(true)" value="false" />-->Without
				</label>		
			</div>
		</div>
		
 		<div class="form-group optionsSearch col-lg-3 col-md-4 col-sm-12 col-xs-12" ng-show="isAuthenticated()">			
			<div class="btn-group">
				<label class="btn btn-default disabled">Owned by me</label>								
				<label class="btn btn-default" uib-btn-radio="''" ng-model="owned" ng-change="productListCtrl.updateSearch(true)">
					Any
				</label>		
				<label class="btn btn-default" uib-btn-radio="'true'" ng-model="owned" ng-change="productListCtrl.updateSearch(true)">
					Yes
				</label>				
				<label class="btn btn-default" uib-btn-radio="'false'" ng-model="owned" ng-change="productListCtrl.updateSearch(true)">
					No
				</label>		
			</div>
		</div>		
		
		<div class="form-group optionsSearch col-lg-3 col-md-4 col-sm-12 col-xs-12">
					
				<div class="btn-group">
					<label class="btn btn-default disabled">Price</label>	
					<label class="btn btn-default" uib-btn-radio="''" ng-model="withPrice" ng-change="productListCtrl.updateSearch(true)">
						<!-- <input type="radio"
							ng-model="withImages"			
							ng-change="pro1ductListCtrl.updateSearch(true)" value=""/>  -->Any
					</label>
					
					<label class="btn btn-default" uib-btn-radio="'true'" ng-model="withPrice" ng-change="productListCtrl.updateSearch(true)">
						<!-- <input type="radio" 
							ng-model="withImages"			
							ng-change="productListCtrl.updateSearch(true)" value="true"/> -->With			
					</label>		
					
					<label class="btn btn-default" uib-btn-radio="'false'" ng-model="withPrice" ng-change="productListCtrl.updateSearch(true)">
						<!-- <input type="radio" 
							ng-model="withImages"			
							ng-change="productListCtrl.updateSearch(true)" value="false" />-->Without
					</label>		
				</div>
		</div>
	</div>	
	<div class="row">		
		<div class="form-group optionsSearch col-lg-4 col-md-4 col-sm-12 col-xs-12">			
				<select class="form-control"	
				selectpicker	
				ng-model="ownedBy"
				data-collection-attribute="id"
				data-collection-name="users"			 
				ng-options="user.id as (user.id == '' ? 'Owned: Any' : 'Owned by ' + user.contactName) for user in users" 
				ng-change="productListCtrl.updateSearch(true)">			
				</select>
		
		</div>	
		<div class="form-group optionsSearch col-lg-4 col-md-4 col-sm-12 col-xs-12">			
				<select class="form-control"	
				selectpicker	
				ng-model="wishedBy"
				data-collection-attribute="id"
				data-collection-name="users"			 
				ng-options="user.id as (user.id == '' ? 'Wishlist: Any' : 'In wishlist for ' + user.contactName) for user in users" 
				ng-change="productListCtrl.updateSearch(true)">			
				</select>		
		</div>			
	</div>
	
	<div class="row">
		
		<h4 class="col-xs-1"><span class="btn btn-primary disabled">Sort</span></h4>
	
		<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
			<div class="form-group optionsSearch btn-group ">			
				<label class="btn btn-default disabled" >Sort by</label>
		        <label class="btn btn-default" ng-model="sortBy" uib-btn-radio="'name'" ng-change="productListCtrl.updateSearch(true)">Name</label>
		        <label class="btn btn-default" ng-model="sortBy" uib-btn-radio="'price'" ng-change="productListCtrl.updateSearch(true)">Price</label>	        	       
		        <label class="btn btn-default" ng-model="sortBy" uib-btn-radio="'rating'" ng-change="productListCtrl.updateSearch(true)">Rating</label>
		    </div>
		    <div class="form-group optionsSearch btn-group">	    	
		    	<label class="btn btn-default disabled" >Sort order</label>
		        <label class="btn btn-default" ng-model="sortOrder" uib-btn-radio="'asc'" ng-change="productListCtrl.updateSearch(true)">Ascendent</label>
		        <label class="btn btn-default" ng-model="sortOrder" uib-btn-radio="'desc'" ng-change="productListCtrl.updateSearch(true)">Descendent</label>
		        
		    </div>
	    </div>
	</div>
</form>

<div ng-if="products && products.length && products.length>0">
	<ul class="pager">
	    <li class="previous pull-left"><button class="btn btn-default" ng-class="{ 'disabled' : processingSearch}" ng-if="productListCtrl.hasPrevious()" ng-click="!processingSearch && productListCtrl.previousPage()">Previous</button></li>
	    <li class="next pull-right"><button ng-if="productListCtrl.hasNext()" class="btn btn-default" ng-class="{ 'disabled' : processingSearch}"  ng-click="!processingSearch && productListCtrl.nextPage()">Next</button></li>
	</ul>
</div>

<div class="productGrid container-fluid" style="" ng-if="products && products.length && products.length>0" >

	<!-- 
	<div class="row productListEntry rowTitles hidden-sm hidden-xs">
		<div class="col-lg-3 col-md-2 col-sm-3 col-xs-12">Product Name</div>				
		<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">Image</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">Ownership</div>				
		<div class="col-lg-3 col-md-3 hidden-sm hidden-xs">Classification</div>
		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">Price</div>
		<div class="col-lg-1 col-md-1 col-sm-2 col-xs-6"></div>
	</div>
 	-->
	<product-list-entry editMode="editMode" ng-repeat="product in products"></product-list-entry>
</div>

<div ng-if="products && products.length && products.length>0">
	<ul class="pager">
	    <li class="previous pull-left"><button class="btn btn-default" ng-class="{ 'disabled' : processingSearch}" ng-if="productListCtrl.hasPrevious()" ng-click="!processingSearch && productListCtrl.previousPage()">Previous</button></li>
	    <li class="next pull-right"><button ng-if="productListCtrl.hasNext()" class="btn btn-default" ng-class="{ 'disabled' : processingSearch}"  ng-click="!processingSearch && productListCtrl.nextPage()">Next</button></li>
	</ul>
</div>

<div class="noResultsSection" ng-if="!products || !products.length || products.length <=0">
	<h3><span class="label label-warning">No results found</span></h3>
</div>

