.productGrid {
	margin-top: 20px;
}

.productDescription {
	padding: 1px;	
}

.amazonBlock {
	margin-top: 15px;	
}

.productGrid {
	border: solid 1px #ccc; 
	border-radius: 10px; 
	padding: 0px
}

.productGrid .row{
	margin: 0px;
}

.productGrid .productListEntry{
	padding: 5px;	
	border-bottom: solid 1px #ccc;
}

.productGrid .rowTitles{
	background-color: #f0f0f0; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}
.bootstrap-select .root {
	padding-left: 20px;
}
.bootstrap-select .depth0 {	padding-left: 20px; }
.bootstrap-select .depth1 {	padding-left: 30px; }
.bootstrap-select .depth2 {	padding-left: 40px; }
.bootstrap-select .depth3 {	padding-left: 50px; }
.bootstrap-select .depth4 {	padding-left: 60px; }
.bootstrap-select .depth5 {	padding-left: 70px; }
.bootstrap-select .depth6 {	padding-left: 80px; }
.bootstrap-select .depth7 {	padding-left: 90px; }

.hierarchy-tree .depth0 {	padding-left: 0px; }
.hierarchy-tree .depth1 {	padding-left: 15px; }
.hierarchy-tree .depth2 {	padding-left: 30px; }
.hierarchy-tree .depth3 {	padding-left: 45px; }
.hierarchy-tree .depth4 {	padding-left: 60px; }
.hierarchy-tree .depth5 {	padding-left: 75px; }
.hierarchy-tree .depth6 {	padding-left: 90px; }
.hierarchy-tree .depth7 {	padding-left: 105px; }


.createProductForm {
	clear: both;
}

.changeProductForm {
	margin-top: 15px;
}

select.ng-invalid,.ng-invalid.ng-dirty,.ng-invalid {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ajax {
	background: url(../imgs/ajax-loader.gif);
	width: 16px;
	height: 16px;
	display: inline-block;
}

.mainImage {
	width: 330px;
}

.smallImage {
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

.squareImage {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.squareImage img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

.carousel {
	margin-top: 10px;
}
