.productGrid {
	margin-top: 20px;
}

.productListEntry {
	border-bottom: 1px solid grey;	
}

select.ng-invalid,.ng-invalid.ng-dirty,.ng-invalid {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.ajax {
	background: url(../imgs/ajax-loader.gif);
	width: 16px;
	height: 16px;
	display: inline-block;
}

