.editButton {
	margin-bottom: 15px;
}

.productGrid {
	margin-top: 20px;
}

.productDescription {
	padding: 1px;	
}

.providerLinksBlock {
	margin-bottom: 25px;
}

.providerLinksBlock .btn {
	margin-top: 25px;	
}

.product-name-btn {
	white-space: normal;
}

.adminSearchOptions {
	margin-top: 15px;
	margin-bottom: 15px;
}

.optionsSearch.form-group {
	/*margin-left: 10px;*/
	margin-top: 10px;
}
/*
.optionsSearch.form-group {
	display: block;
	margin-top: 15px;
	margin-right: 15px;	
}
*/
.productGrid {
/*	border: solid 1px #ccc; 
	border-radius: 10px; 
	padding: 0px
*/}

.productGrid .row{
	margin: 0px;
}

.productGrid .productListEntry{
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-bottom: 12px;
}

.productGrid .productListEntry .btn {
	/*margin-top: 10px;*/	
}

.productGrid .productListEntry .label {
	line-height: 20px;
	padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
}

.productGrid .productListEntry .imageContainer  {
	margin-top: 10px;
}

.productGrid .rowTitles{
	background-color: #f0f0f0; 
	border-top-left-radius: 10px; 
	border-top-right-radius: 10px;
}

.product .product-crumb {
	display: inline-block;
	border-radius: 5px;
}

.product .priceBlock {	
	margin-top: 15px;
}

.product .images {
	margin-bottom: 15px;
}

.product .mainImage {
	margin: 0 auto;
}

.product .authorsBlock{
	margin-top: 15px;
}

.product .authorsBlock .authorEntry {
	margin-bottom: 10px;
}

.product .authorsBlock .authorContainer {
	/*min-height: 130px;*/
} 

.msd-elastic {
	max-height: 250px;
}
.product .priceBlock {
	margin-bottom: 15px;
}

.product .blockContent{
	padding-left: 20px;
}
    

.bootstrap-select .root {
	padding-left: 20px;
}
.bootstrap-select .depth0 {	padding-left: 20px; }
.bootstrap-select .depth1 {	padding-left: 30px; }
.bootstrap-select .depth2 {	padding-left: 40px; }
.bootstrap-select .depth3 {	padding-left: 50px; }
.bootstrap-select .depth4 {	padding-left: 60px; }
.bootstrap-select .depth5 {	padding-left: 70px; }
.bootstrap-select .depth6 {	padding-left: 80px; }
.bootstrap-select .depth7 {	padding-left: 90px; }

.hierarchy-tree .depth0 {	padding-left: 0px; }
.hierarchy-tree .depth1 {	padding-left: 15px; }
.hierarchy-tree .depth2 {	padding-left: 30px; }
.hierarchy-tree .depth3 {	padding-left: 45px; }
.hierarchy-tree .depth4 {	padding-left: 60px; }
.hierarchy-tree .depth5 {	padding-left: 75px; }
.hierarchy-tree .depth6 {	padding-left: 90px; }
.hierarchy-tree .depth7 {	padding-left: 105px; }


.createProductForm {
	clear: both;
}

.changeProductForm {
	margin-top: 15px;
}

select.ng-invalid,.ng-invalid.ng-dirty:not(.btn),.ng-invalid:not(.btn) {
	border-color: #FA787E;
}

.ng-valid.ng-dirty:not(.btn) {
	border-color: #78FA89;
}

.ajax {
	background: url(../imgs/ajax-loader.gif);
	width: 16px;
	height: 16px;
	display: inline-block;
}

.mainImage {
	width: 330px;
}

.smallImage {
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
}

.squareImage {
    width: 175px;
    height: 175px;
    overflow: hidden;
    position: relative;
}
.squareImage img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    max-height: 175px;
}
.productGrid .productListEntry .imageContainer {
    text-align: center;
}

.productGrid .productListEntry .imageContainer img{
	max-height: 175px;
	margin: 0 auto;
}

.productGrid .productListEntry .imageContainer  .afkl-img-ratio-1-1{
	padding-bottom: 0px;
} 

.carousel {
	margin-top: 10px;
}
