<div class="container">
	<div ng-init="product = {}; editable = true; forbidedit = true">
		<h1>Manage Products</h1>
		
		
		<uib-tabset>
			<uib-tab heading="Create Product">
				<h2>Create Product</h2>
				
				<product-page product="product" forbidedit="forbidedit" editable="editable" is-authenticated="isAuthenticated()" is-admin="isAdmin()"></product-page>
																
				<product-change product="product" is-logged-in="isLoggedIn()" is-authenticated="isAuthenticated()" is-admin="isAdmin()"></product-change>			
			</uib-tab>
				
			<uib-tab heading="Upload Multiple Products">
				
				<h2>Upload Multiple Products</h2>
				
				<product-upload></product-upload>
			</uib-tab>
			
		
		</uib-tabset>
		
		
	
		
		
	
	</div>
</div>