<div class="container">
	<div ng-init="product = {}; editable = true; forbidedit = true">
		<h1>Manage Products</h1>
		
		<h2>Upload Multiple Products</h2>
		<product-upload></product-upload>
	
		<product-page product="product" forbidedit="forbidedit" editable="editable" is-authenticated="isAuthenticated()" is-admin="isAdmin()"></product-page>
							
		<h2>Create Product</h2>					
		<product-change product="product" is-logged-in="isLoggedIn()" is-authenticated="isAuthenticated()" is-admin="isAdmin()"></product-change>
		
	
	</div>
</div>