<div class="container">
	<div ng-init="product={ hierarchyPlacement: null }; editable = false; forbidedit = false">
			
		<product-page 
			product="product" 
			editable="editable" 
			is-logged-in="isLoggedIn()"
			is-authenticated="isAuthenticated()"		
			is-admin="isAdmin()"
			forbidedit="forbidedit"></product-page>
		
		<product-change 
			ng-show="editable && isAuthenticated()" 
			product="product" 	
			is-authenticated="isAuthenticated()"
			is-admin="isAdmin()"	
			createnew="false"></product-change>
			
	</div>
</div>